@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}

<h1>@ViewData["Title"]</h1>
<meta http-equiv="refresh" content="3;url=Login" /> <!--Redirectar till Login sidan efter 3 sekunder-->
<h3>Redirecting to login in 3 seconds...</h3>