@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}


    
<div class="login-main">
    <div class="login-box">
            <form id="account" method="post">
                <p class="login-header">Logga in</p>
                
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label>Username</label>
                    <input  asp-for="Input.UserName" class="form-control login-input" />
                    <span asp-validation-for="Input.UserName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Password"></label>
                    <input asp-for="Input.Password" class="form-control login-input" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label asp-for="Input.RememberMe">
                            <input asp-for="Input.RememberMe" />
                            @Html.DisplayNameFor(m => m.Input.RememberMe)
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Log in</button>
                </div>
                <div class="form-group">
                    
                    <p>
                    <p class="register-p">Har du inget konto?Klicka </p><a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Här</a>
                    </p>
                    
                </div>
            </form>
    </div>
</div>
    


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
